@import "_reset.scss";

$breakpoint: 784px;

$txt_col: #333;
$light_color: #d9d9d9;

@function mod($n) {
  @return $n * 12px;
}

@mixin default-font {
  font-size: mod(4/3);
  line-height: mod(2);
}

@mixin big-font {
  font-size: mod(2);
  line-height: mod(3);
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  @include default-font;

  color: $txt_col;

  padding: 0;
  margin: 0;

  min-height: 100vh;

  display: flex;
  justify-content: stretch;
}

#app {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  width: 100%;
}

#router-view {
  @media screen and (min-width: $breakpoint) {
    width: 736px;
    padding: mod(10) mod(2) mod(12);
  }
  @media screen and (max-width: $breakpoint) {
    padding: mod(6) mod(2) mod(12);
  }
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}

#intro header {
  margin-bottom: mod(4);
  h1 {
    @include big-font;
  }
  h2 {
    @include big-font;
  }
}

article {
  p + p {
    margin-top: mod(1);
  }
}

.next-question {
  margin-top: mod(6);
  float: right;
  color: $txt_col;
  text-decoration: none;
  @include big-font;
  &:after {
    content: "→";
    font-size: 32px;
    padding-left: mod(1);
    position: relative;
    top: 4px;
    right: 0;
    transition: all 0.5s ease;
  }
  &:hover {
    &:after {
      right: mod(-1);
      transition: all 0.1s ease;
    }
  }
}

#quest header {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: mod(3/2) mod(2);
  background: white;
  box-shadow: 0 0 8px $light_color;
  border-top: 1px solid $light_color;
  display: flex;

  align-items: center;
  justify-content: space-between;

  .text-headings {
    display: flex;
    h2 {
      &:before {
        padding: 0 mod(1);
        content: "·";
      }
    }
  }

  .progress-bar-container {
    display: flex;
    align-items: center;
  }

  .progress-bar {
    $h: mod(1/2);
    height: $h;
    border-radius: $h;
    margin-left: mod(3/2);
    width: mod(12);
    background: $light_color;
    position: relative;
    overflow: hidden;
    .completed-rate {
      top: 0;
      left: 0;
      height: $h;
      border-radius: $h;
      background: black;
      width: 5%;
    }
  }
}

.question {
  .main-text {
    position: relative;
    @include big-font;
    span.question-number {
      @media screen and (min-width: $breakpoint) {
        position: absolute;
        left: mod(-4);
      }
      @media screen and (max-width: $breakpoint) {
        display: block;
      }
      color: $light_color;
    }
  }
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-top: mod(3);

  label {
    border: 2px solid $light_color;
    display: flex;
    align-items: center;
    padding: 0 mod(2) 0 mod(4/3);
    height: mod(4);
    cursor: pointer;
    input {
      margin-right: mod(4/3);
    }
    & + label {
      margin-top: mod(3/2);
    }
    &.selected {
      border-color: black;
      font-weight: 700;
    }
  }
  &.radio-container {
    label {
      border-radius: mod(2/3);
    }
  }
}
